.grid-image img {
  width: 100%;
  height: 100%;
}

.grid-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid-image .caption {
  position: absolute;
  bottom: 0.5em;
  left: 2em;
}

.grid-image .caption .title {
  color: purple;
  font-weight: bold;
}

.grid-image .caption .subtitle {
  color: grey;
}
