@import 'header.css';
@import 'grid.css';
@import 'grid-image.css';
@import 'sc-player.css';

/* General */

body {
  background-image: url('/public/background.png');
  background-position: center center;
  background-repeat: repeat;
  background-size: 80em;
  color: black;
  font-family: tahoma, sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  cursor: alias;
}

a:link,
a:visited {
  color: inherit;
}

.hidden {
  max-height: 0px;
}

.display-none {
  display: none;
}

.circle {
  border-radius: 50%;
}

.fa-soundcloud {
  background-color: rgb(242, 111, 35);
}

.fa-instagram {
  background-color: rgb(193, 53, 132);
}

.fa-envelope {
  background-color: DeepSkyBlue;
}

#main-body {
  margin: auto;
  width: 100%;
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
    margin: 0;
  }
}
