.sc-iframe-wrapper iframe {
  position: relative;
  top: -5px; /* Hide top of iframe */
  filter: invert(100%) hue-rotate(180deg);
}

.sc-iframe-wrapper {
  width: 100%;
  height: 295px; /* Hide bottom of iframe */
  overflow: hidden; /* Hide the excess iframe */
  border-radius: 0 20px 20px 20px;
}

.sc-title {
  color: hotpink !important;
  font-style: italic;
  display: inline-flex;
  padding: 0.3em 1em 0.2em 1em;
  background-color: black;
  border-radius: 20px 20px 0 0;
  font-weight: bold;
}

.sc-player:hover .sc-title {
  --shadow-color: blue;
  text-shadow:
    0 0 5px var(--shadow-color),
    0 0 10px var(--shadow-color),
    0 0 15px var(--shadow-color);
}

.sc-player {
  margin-top: -0.5em;
  margin-bottom: 0.6em;
}

@media (max-width: 800px) {
  .sc-player {
    margin-top: -0.5em;
  }
}
